In [1]:
import pandas as pd
import numpy as np
import math
from scipy.stats import skew
import seaborn as sns
import matplotlib.pyplot as plt    
from dataHack import removeColl 
%matplotlib inline
import warnings
import scipy
warnings.filterwarnings('ignore')
import dataHack as dh
import contigency as cg
import matplotlib

In [2]:
train= pd.read_csv(r'C:\Users\sushant\Documents\Datasets\loan\train.csv')

In [3]:
train.head()

,Loan_ID,Loan_Amount_Requested,Loan_Grade,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Area_Type,Gender,Interest_Rate
0,10000001,"7,000",A,< 1 year,Rent,68000.0,not verified,car,18.37,0,NaN,9,14,B,Female,1
1,10000002,"30,000",A,4 years,Mortgage,NaN,VERIFIED - income,debt_consolidation,14.93,0,17.0,12,24,A,Female,3
2,10000003,"24,725",D,7 years,Mortgage,75566.4,VERIFIED - income source,debt_consolidation,15.88,0,NaN,12,16,B,Male,3
3,10000004,"16,000",D,< 1 year,NaN,56160.0,VERIFIED - income source,debt_consolidation,14.34,3,NaN,16,22,A,Male,3
4,10000005,"17,000",A,8 years,Own,96000.0,VERIFIED - income source,debt_consolidation,22.17,1,NaN,19,30,B,Female,1

In [4]:

train.columns.tolist()

['Loan_ID',
 'Loan_Amount_Requested',
 'Loan_Grade',
 'Length_Employed',
 'Home_Owner',
 'Annual_Income',
 'Income_Verified',
 'Purpose_Of_Loan',
 'Debt_To_Income',
 'Inquiries_Last_6Mo',
 'Months_Since_Deliquency',
 'Number_Open_Accounts',
 'Total_Accounts',
 'Area_Type',
 'Gender',
 'Interest_Rate']

In [5]:
cat_var= train.select_dtypes(include = ['object']).columns.values.tolist()
num_var = train.select_dtypes(include = ['int64','float64']).columns.values.tolist()

In [6]:
null_coll=train.columns[pd.isnull(train).any()].values.tolist()
for i in null_coll:
    print i,' - ',len(train[train[i].isnull()])

Loan_Grade  -  25053
Length_Employed  -  7371
Home_Owner  -  25349
Annual_Income  -  25102
Months_Since_Deliquency  -  88379

In [9]:
train['Length_Employed']=train['Length_Employed'].astype(str)

In [21]:
import re
train['Length_Employed']= train['Length_Employed'].apply(lambda l: re.findall('\d+',l)[0] if len(re.findall('\d+',l)) >0 else np.nan )

In [22]:
import xgboost as xgb

C:\Users\sushant\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25)